.youtube-container-placeholder {
  height: 50px
}
.youtube-container {
  margin-left: 16px;
  padding-bottom: 5px;
  width: 100%;
  background-color: white;
  font-family: arial;
}
.title {
  font-size:   24px;
  font-weight: bold;
}
.prevLink {
}
.nextLink {
  padding-left: 1em;
}

.youtube-iframe {
  width:  160;
  height: 120;
}

.transcript {
  max-width:     53em;
  padding-right: 5em;
  white-space: pre-wrap;
  font-size:   18px;
}
.transcript tr {
  vertical-align: top;
}
.transcript td {
  padding:      1em;
  padding-left: 2em;
  line-height:  1.5;
}
.english {
  width: 54%;
}